* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

li {
    margin-bottom: 10px;
}

.header {
    background-color: rgb(92, 92, 92);
    height: 220px;
    display: flex;
    border-radius: 100px 0 100px 0;
}

.header>.hcol {
    width: 33%;
    display: flex;
    /* align-items: center; */
    color: white;
    height: 100%;
}

.avt {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 3px white;
}

.row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "left right";
    padding: 24px 250px;
}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.align-items-baseline {
    align-items: baseline;
}

.ml-n-44 {
    margin-left: -44px;
}

.col-left {
    grid-area: left
}

.col-right {
    grid-area: right;
}

.row-3-3-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left middle right";
}

.col-middle {
    grid-area: middle;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.ml-24 { 
    margin-left: 24px;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.my-36 {
    margin-left: 36px;
    margin-right: 36px;
}

.mt-24 {
    margin-top: 24px;
}

.py-80 {

padding: 0 80px;

}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

.mt-8 {
    margin-top: 8px;
}

.ml-8 {
    margin-left: 8px;
}

p {
    line-height: 2rem;
}

.mb-80 {
    margin-bottom: 80px;
}

body {
    background: #80808003;
}